@model GiuaKyWeb.Models.ViewModels.CourseFormViewModel

<div class="row">
    <div class="col-lg-7">
        <form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post">
            @Html.AntiForgeryToken()
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Credits" class="form-label"></label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Lecturer" class="form-label"></label>
                <input asp-for="Lecturer" class="form-control" />
                <span asp-validation-for="Lecturer" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-select"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </form>
    </div>
</div>
